@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Scrollbar style */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(65, 88, 119, 0.315);
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(65, 88, 119, 0.315);
}
::-webkit-scrollbar-thumb:hover{
  background: rgba(58, 76, 100, 0.493);
}
::-webkit-scrollbar-thumb:active{
  background: rgba(65, 88, 119, 0.315);
}